# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/http_serv/nbproject/private/
/http_serv/build/Debug/
/http_serv/dist/Debug/
/http_serv/build/Release/
/http_serv/dist/Release/